@use "./base" as *;

%flex-center {
  @extend %df;
  @extend %aic;
  @extend %jcc;
}

%clearfix {
  zoom: 1;
  &::after {
    @extend %db;
    content: "\20";
    height: 0;
    clear: both;
  }
}

%ao8 {
  &:active {
    opacity: 0.8;
  }
}

%twno {
  @extend %oh;
  @extend %wsn;
  @extend %toe;
}

%dan {
  &:after {
    @extend %dn;
  }
}

%dbn {
  &:before {
    @extend %dn;
  }
}

%ofc {
  object-fit: cover;
  object-position: center;
}

%oya {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
